Marcel Dielacher - https://github.com/mdielacher

# FitBit Data

## Description:

These datasets were generated by respondents to a distributed survey via Amazon Mechanical Turk between 03.12.2016-05.12.2016. Thirty eligible Fitbit users consented to the submission of personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. Individual reports can be parsed by export session ID (column A) or timestamp (column B). Variation between output represents use of different types of Fitbit trackers and individual tracking behaviors / preferences.
**Credits: https://www.kaggle.com/arashnic/fitbit**

## Import:

In [2]:
import pandas as pd

In [6]:
dailyActivity_merged = pd.read_csv('./Data_FitBit/dailyActivity_merged.csv', delimiter=',')
dailyCalories_merged = pd.read_csv('./Data_FitBit/dailyCalories_merged.csv', delimiter=',')
dailyIntensities_merged = pd.read_csv('./Data_FitBit/dailyIntensities_merged.csv', delimiter=',')
dailySteps_merged = pd.read_csv('./Data_FitBit/dailySteps_merged.csv', delimiter=',')
hourlyCalories_merged = pd.read_csv('./Data_FitBit/hourlyCalories_merged.csv', delimiter=',')
hourlyIntensities_merged = pd.read_csv('./Data_FitBit/hourlyIntensities_merged.csv', delimiter=',')
hourlySteps_merged = pd.read_csv('./Data_FitBit/hourlySteps_merged.csv', delimiter=',')
minuteCaloriesNarrow_merged = pd.read_csv('./Data_FitBit/minuteCaloriesNarrow_merged.csv', delimiter=',')
minuteCaloriesWide_merged = pd.read_csv('./Data_FitBit/minuteCaloriesWide_merged.csv', delimiter=',')
minuteIntensitiesNarrow_merged = pd.read_csv('./Data_FitBit/minuteIntensitiesNarrow_merged.csv', delimiter=',')
minuteIntensitiesWide_merged = pd.read_csv('./Data_FitBit/minuteIntensitiesWide_merged.csv', delimiter=',')
minuteMETsNarrow_merged = pd.read_csv('./Data_FitBit/minuteMETsNarrow_merged.csv', delimiter=',')
minuteStepsNarrow_merged = pd.read_csv('./Data_FitBit/minuteStepsNarrow_merged.csv', delimiter=',')
minuteStepsWide_merged = pd.read_csv('./Data_FitBit/minuteStepsWide_merged.csv', delimiter=',')
sleepDay_merged = pd.read_csv('./Data_FitBit/sleepDay_merged.csv', delimiter=',')
weightLogInfo_merged = pd.read_csv('./Data_FitBit/weightLogInfo_merged.csv', delimiter=',')

## Overview of the Data

In [10]:
dailyActivity_merged.head(3)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776

In [12]:
dailyCalories_merged.head(3)

           Id ActivityDay  Calories
0  1503960366   4/12/2016      1985
1  1503960366   4/13/2016      1797
2  1503960366   4/14/2016      1776

In [13]:
dailyIntensities_merged.head(3)

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.0,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.0,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.0,3.91,0.40,2.44

Which Users we have in this dataset?

In [20]:
dailyIntensities_merged['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       3372868164, 3977333714, 4020332650, 4057192912, 4319703577,
       4388161847, 4445114986, 4558609924, 4702921684, 5553957443,
       5577150313, 6117666160, 6290855005, 6775888955, 6962181067,
       7007744171, 7086361926, 8053475328, 8253242879, 8378563200,
       8583815059, 8792009665, 8877689391])

In [24]:
dailyActivity_merged['Calories'].max()

4900

In [25]:
dailyActivity_merged

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849